table {
    margin-bottom: 1.5em;
}

th {
    text-align: left;
    font-size: larger;
}

td.label {
    text-align: right;
    font-size: smaller;
    color: #ccc;
}

table.bindings {
    margin: 0;
}

span.pathmatch, td.bindingname {
    font-style: italic;
    color: #909;
}

pre {
    margin: 0px;
}

div, p {
    border-left: solid 10px #fff;
    padding-left: 1em;
}

div.pass, div.match, p.match {
    border-left: solid 10px #090;
    padding-left: 1em;
}

p.nomatch {
    border-left: solid 10px #900;
    padding-left: 1em;
    background: #fee;
}

p.match, div.match {
    background: #efe;
}
